body {
    font-size: 16px;
    line-height: 24px;
    color: #283136;
    font-weight: normal;
    font-family: 'Roboto',  'Arial', sans-serif;
    margin: 0px;
    padding: 0px;
}
    
.tagline-item1 {
    font-size: 55px;
    line-height: 55px;
    color: #000000;
    font-weight: bold;
}

h2 {
    
    font-size: 45px;
    line-height: 45px;
    color: #000000;
    font-weight: bold;
    margin-bottom: 30px;
    
}

b{
    display: block;
}


.main-header{
    background-color: #eeeeee;
}


.container{
    width: 1160px;
    margin: 0 20px;
    margin: 0 auto;
    
    /*только для сетки*/ 
    background: rgba(234, 255, 45, 0.2); 
    box-shadow: inset 0 0 0 2px rgb(234, 255, 45);
}

.clearfix::after{
    content:"";
    display: table;
    clear: both;
}

.logo{
    width: 160px;
    float: left;
    margin-right: 202px;
    margin-top: 49px;
}

.logo:hover{
    opacity: 0.8;
}

.logo:active{
    opacity: 0.3;
}

.main-navigation{ 
    background-color: darkgray;
    float: left;
    margin-right: 40px;
    vertical-align: bottom;
    margin-top: 76px;
    
}

.main-navigation li{
    list-style: none;
    padding: 0px; 
    margin: 0px;
    display: inline-block;
    vertical-align: top;
    margin-right: 50px;
}

.main-navigation ul{
    padding: 0px; 
    margin: 0px; 
    font-size: 0px;
    
}

.main-navigation a{
    font-size: 16px;
    font-weight: 500;
    line-height: 30px;
    text-decoration: none;
    text-transform: uppercase;
    color: #000000;
}


.main-navigation a:hover{
    color: #fb565a;
}

.main-navigation a:active{
    color: #a6a6a6;
}




.main-navigation .active{
    position: relative;
}

.main-navigation .active::after{
    content: "";
    position: absolute;
    right: 0;
    bottom: 0px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #fb565a;
    
    
}


.basket-block{
    max-width: 160px;
    float: right;
    margin-top: 76px;
    font-size: 0px;
}

.basket{
    font-size: 16px;
    font-weight: 500;
    line-height: 30px;
    color: #000000;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    vertical-align: top;
    position: relative;
    padding-left: 41px;
}
.basket:hover{
    color: #fb565a;
}

.basket:active{
    color: #a6a6a6;
}

.basket::before{
    content:"";
    width: 19px;
    height: 19px;
    background-color: lavender;
    position: absolute;
    top: 3px;
    left: -3px;
    background: url(../img/spritesheet.png) no-repeat;
    
}

.tagline-main{
    background-color: #eeeeee;
    padding-bottom: 20px;
}





.slide{
    position: relative;
    width: 1160px;
    height: 425px;
    margin:0 auto;
    
    
    margin-bottom: 58px;
}

.slide input[type="radio"]{
    position: absolute;
    opacity: 0;
}

.slider-controls{
    position: absolute;
    bottom: 106px;
    left: 50%;
    Width: 200px;
    height: 10px;
    margin-left: -100px;
    text-align: center;
    z-index: 1000;
}

.slider-controls label{
    display: inline-block;
    
    width: 18px;
    height: 18px;
    margin: 0 7px;
    background: white;
    vertical-align: top;
    box-sizing: border-box;
    border-radius: 50%  ;
    cursor: pointer;
    
}

#btn-1:checked ~ .slider-controls label[for="btn-1"] + label:after{
    content: "";
    position: absolute;
    width: 4px;
    height: 4px;
    border: 2px solid #c1c1c1;
    border-radius: 50%;
    left: -71px;
    right: 0;
    top: 7px;
    bottom: 0;
    margin: auto;
}

#btn-2:checked ~ .slider-controls label[for="btn-2"] + label:after{
    content: "";
    position: absolute;
    width: 4px;
    height: 4px;
    border: 2px solid #c1c1c1;
    border-radius: 50%;
    left: 0;
    right: 0;
    top: 7px;
    bottom: 0;
    margin: auto;
}

#btn-3:checked ~ .slider-controls label[for="btn-3"] + label:after{
    content: "";
    position: absolute;
    width: 4px;
    height: 4px;
    border: 2px solid #c1c1c1;
    border-radius: 50%;
    left: 55px;
    right: 0;
    top: 7px;
    bottom: 0;
    margin: auto;
}



.slide-text{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.tagline{
    width: 380px;
    padding: 72px 0px;
    color: #283136;
    font-size: 0;
}

.tagline-item1{
    font-size: 55px;
    line-height: 55px;
    font-weight: bold;
    color: black;
}

.tagline-item2 {
    font-size: 16px;
    margin-top: 23px;
}

.tagline-btn{
    display: inline-block;
    vertical-align: middle;
    font-size: 16px;
    margin-top: 23px;
    background-color: #fb565a; 
    line-height: 18px;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
    padding: 16px 55px;
    border-radius: 2px;
}

.tagline-btn:hover{
    background-color: #e74246;
}

.tagline-btn:active{
    background-color: #d7373b;
    color: #e37376;
    box-shadow: inset 0 3px 0 rgba(193,49,53,1);
}

.slide-text:nth-child(1){
    background-image: url(../img/slider-1.png);
    background-repeat: no-repeat;
    background-position:  100% -7px;
}

.slide-text:nth-child(2){
    background-image: url(../img/slider-2.png);
    background-repeat: no-repeat;
    background-position:  100% 0;
}

.slide-text:nth-child(3){
    background-image: url(../img/slider-3.png);
    background-repeat: no-repeat;
    background-position:  100% 0;
}

.slide-text{
    display: none;
}


#btn-1:checked ~ .slides .slide-text:nth-child(1) {
    display: block;
}
#btn-2:checked ~ .slides .slide-text:nth-child(2) {
    display: block;
}
#btn-3:checked ~ .slides .slide-text:nth-child(3) {
    display: block;
}





.service {
    padding-bottom: 80px;
    
}

.service-item{
    width: 33.333333%;
    padding-right: 100px;
    float: left;
    padding-top: 178px;
    box-sizing: border-box;
}



.service-item p{
    
}

.order{
    display: inline-block;
    vertical-align: middle;
    font-size: 16px;
    margin-top: 39px;
    background-color: #fb565a; 
    line-height: 18px;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
    padding: 16px 40px;
    border-radius: 2px;
    margin-top: 13px;
}

.websites .order:hover{
    background-color: #e74246;
}

.websites .order:active{
    box-shadow: inset 0 3px 0 rgba(193,49,53,1);
    background-color: #d7373b;
    color: #e37376;
}

.presentation .order{
    background-color: #efc849;
}

.presentation .order:hover{
    background-color: #eab534;
}

.presentation .order:active{
    background-color: #e5a722;
    color: #edc265;
    box-shadow: inset 0 3px 0 rgba(206,150,31,1);
}


.apps .order{
    background-color: #00ca74;
}

.apps .order:hover{
    background-color: #00bc6c;
}

.apps .order:active{
    background-color: #00aa62;
    color: #4dc491;
    box-shadow: inset 0 3px 0 rgba(0,153,88,1);
}

.websites{
    position: relative;
}

.websites::before{
    content:"";
    width: 300px;
    height: 146px;
    background: url(../img/service-websites.jpg) no-repeat;
    position: absolute;
    top: 0;
    left: 0;
}

.apps{
    position: relative;
}

.apps::before{
    content:"";
    width: 300px;
    height: 146px;
    background: url(../img/service-apps.jpg) no-repeat;
    position: absolute;
    top: 0px;
    left: ;
}

.presentation{
    position: relative;
}

.presentation::before{
     content:"";
    width: 300px;
    height: 146px;
    background: url(../img/service-presentation.jpg) no-repeat;
    position: absolute;
    top: 0px;
    left: ;
}

.service-title{
    font-size: 24px;
    line-height: 30px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: -3px;
}


main{
    display: block;
}

.studio{
    width: 66.666666%;
    float: left;
    padding-right: 100px;
    box-sizing: border-box;
}

.about-us{
    margin-bottom: 39px;
}

.do {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: -4px;
}

.feauters{
    font-size: 0px;
}

.feauters p{
    margin: 0px;
    font-size: 16px;
    line-height: 24px;
    margin-top: 27px; 
}

.feauters p::before{
    display: inline-block;
    vertical-align: middle;
    content: "";
    width: 25px;
    height: 2px;
    background-color: #fb565a;
    margin-right: 11px;
    
}

.achievements{
    width: 33.333333%;
    float: left;
}

.achievement-title{
    text-transform: uppercase;
    font-weight: bold;
}

.procent{
    font-size: 45px;
    font-weight: bold;
}

.procent-item{
    font-size: 20px;
    vertical-align: super;
}

.achievement{
    line-height: 18px;
    margin-top: -10px;
}


.logo2{
    display: block;
    margin-bottom: 37px;
}

.achievement-title{ 
   
}

.achievement-items{
    
}

.achievement-item{
    float: left;
    width: 33.33333%;
}

.block-studio-achievements{
    padding-top: 40px;
    padding-bottom: 53px;
    border-top: 2px solid #eeeeee;
    border-bottom: 2px solid #eeeeee;
    
}


.projects{
    padding-top: 46px;
    padding-bottom: 32px;
    font-size: 0;
    border-bottom: 2px solid #eeeeee;

}

.project-index{
    width: 25%;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    opacity: 0.2;
}


.project-index:hover{
    opacity: 1;
}

.project-index:active{
    opacity: 0.1;
}

.map-address{
    background-image: url(../img/map.jpg);
    background-position: no-repeat;
    background-size: cover;
    height: 416px;
    padding-top: 54px;
    box-sizing: border-box;
    
}

.address{
    padding: 47px 50px;
    float: left;
    height: 200px;
    background: #ffffff;
    padding: 
    font-size: 16px;
    line-height: 18px;
}

.nds{
    font-size: 18px;
    line-height: 30px;
    font-weight: bold;
    margin-bottom: 25px;
}


.address p:nth-child(3){
    padding: 0px;
    margin: 0px;
    margin-bottom: 36px;
}

.write{
    display: inline-block;
    vertical-align: middle;
    font-size: 16px;
    background-color: #fb565a; 
    line-height: 18px;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
    padding: 19px 45px;
    border-radius: 2px;
}

.write:hover{
    background-color: #e74246;
}

.write:active{
    background-color: #d7373b;
    color: #e37376;
    box-shadow: inset 0 3px 0 rgba(193,49,53,1);
}

.main-footer{
    margin-top: 80px;
}

.footer-social{
    float: left;
    margin-right: 140px;
    margin-top: 69px;
    font-size: 0;
    
}

.footer-text{
    float: left;
}

.social-btn{
    display: inline-block;
    vertical-align: middle;
    width: 79px;
    height: 79px;
    border-radius: 39px;
    background-color: #e1e1e1;
    position: relative;
    margin-right: 12px;
}

.social-btn:last-child{
    margin-right: 0px;
}

.social-btn:hover{
    background-color: #e74246;
}

.social-btn:active{
    box-shadow: inset 0 3px 0 rgba(193,49,53,1);
    background-color: #d7373b;
    color: #e37376;
}

.social-btn-vk::before{
    position: absolute;
    content: "";
    width: 26px;
    height: 14px;
    background-repeat: no-repeat;
    top: 32px;
    left: 26px;
    background-image: url(../img/spritesheet.png);
    background-position: -5px -93px;
}

.social-btn-fb::before{
    position: absolute;
    content: "";
    width: 12px;
    height: 22px;
    
    background-repeat: no-repeat;
    top:28px;
    left: 32px;
    background-image: url(../img/spritesheet.png);
    background-position: -5px -30px;
}

.social-btn-inst::before{
    position: absolute;
    content: "";
    width: 21px;
    height: 20px;
    
    background-repeat: no-repeat;
    top: 30px;
    left: 30px;
    background-image: url(../img/spritesheet.png);
    background-position: -5px -63px;
}

.social-btn-vk:active::before,
.social-btn-fb:active::before,
.social-btn-inst:active::before{
    opacity: 0.3
}




.footer-text{
    margin-top: 79px;
}

.friend {
    margin: 0px;
    font-size: 36px;
    line-height: 36px;
    font-weight: bold;
    margin-bottom: 
}

.discount {
    margin: 0;
    font-size: 16px;
    line-height: 22px;
    margin-top: 12px;
}

.modal-content {
    position: absolute;
    top: 1706px;
    left: 50%;
    width: 960px;
    margin-left: -480px;
    padding: 73px 100px;
    color: #000000;
    background: #ffffff;
}




/*------------------------------------------------------------*/

.main-header{
    
}

.main-title{
    background-color: #eeeeee;
    padding-bottom: 110px;
    
}

h1{
    font-size: 55px;
    line-height: 55px;
    text-align: center;
    padding: 0px;
    margin: 0px;
    
}



.filter{
    margin-bottom: 55px;
}

.filter > legend{
    margin-bottom: 50px;
}

.layouts > legend{
    margin-bottom: 15px;
}

.range-filter {
    width: 260px;
}
.range-controls{
    position: relative;
    height: px;
    padding: 39px;
    padding-right: 20px;
    padding-left: 20px;
    margin-bottom: 14px;
    border-radius: 5px;
    background: #f1f1f1;
}

.range-controls .scale{
    height: 2px;
    background: #d7dcde;
}

.range-controls .bar{
    width: 70%;
    height: 2px;
    background: #00ca74;
}

.range-controls .toggle{
    position: absolute;
    top: 30px;
    left: 0px;
    width: 4px;
    height: 4px;
    cursor: pointer;
    border: 8px solid #fff;
    border-radius: 50%;
    background: #ababab;
    box-shadow: 0 2px 1px 0 #cfcfcf;
}

.range-controls .toggle-min{
    left: 20px;
}

.range-controls .toggle-max{
    left: 145px;
}

.price-controls{
    font-size: 0;
}

.price-controls label{
    text-transform: uppercase;
    font-size: 16px;
    line-height: 22px;
    display: inline-block;
    width: 50%;
}

.max-price{
    text-align: right;
}

.price-controls input{
    font-family: 'Roboto', 'Arial', sans-serif;
    font-size: 16px;
    line-height: 22px;
    width: 60px;
    margin-left: 10px;
    padding: 8px 10px;
    text-align: center;
    color: #283136;
    border: none;
    border-radius: 5px;
    background: #f1f1f1;
}

.filters fieldset{
    border: none;
}

.filters legend{
    font-size: 18px;
    line-height: 30px;
    font-weight: bold;
    text-transform: uppercase;
}

.layouts input,
.features input{
    display: none;
}

.filters fieldset{
 padding: 0;
}

.layouts label{
    margin-bottom: 15px;
}

.layouts label:last-child{
    margin-bottom: 43px;
}

.features legend{
    margin-bottom: 14px;
}

.features label{
    margin-bottom: 16px;
}

.features label:last-child{
    margin-bottom: 48px;
}

.layouts label,
.features label{
    padding-left: 37px;
    position: relative;
}


.layouts label::before{
    position: absolute;
    content: "";
    width: 31px;
    height: 26px;
    background: url(../img/spritesheet.png) no-repeat;
    top: -3px;
    left: -5px;
    background-position: 0px -117px;  
    cursor: pointer;
}

.layouts .active::before{
    position: absolute;
    content: "";
    width: 31px;
    height: 26px;
    background: url(../img/spritesheet.png) no-repeat;
    top: -4px;
    left: -5px;
    background-position: 0px -152px;  
    cursor: pointer;
}


.layout{
    width: 200px;
    float: left;
}

#adaptive,
#fix,
#rubber{
    float: left;
}



.features label{
    position: relative;
}

.features label::before{
    position: absolute;
    content: "";
    width: 31px;
    height: 28px;
    background: url(../img/sprite-checkbox.png) no-repeat;
    top: -5px;
    left: -4px;
    background-position: 0px 0px;  
    cursor: pointer;
}

.features .active::before{
    position: absolute;
    content: "";
    width: 31px;
    height: 28px;
    background: url(../img/sprite-checkbox.png) no-repeat;
    top: -5px;
    left: -4px;
    background-position: 0px -32px;  
    cursor: pointer;
}

#slider,
#advantage,
#news,
#gallery,
#basket{
    float: left;
}

.feature{
    float: left;
    width: 200px;
}




.filters{
    float: left;
    width: 25%;
    padding-bottom: 1390px;
    background-color: chocolate
}

label{
    display: block;
}

#show{
    border: none;
    padding: 16px 86px;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    font-weight: 600;
    cursor: pointer;
    border-radius: 3px;
}






.separate-item{
    background-color: azure;
    display:inline-block;
    vertical-align: top;
    font-size: 18px;
    line-height: 18px;
    text-transform: uppercase;
    font-weight: bold;
    margin-left: 110px;
    margin-top: 5px;
}

.price-type-name{
    background-color: azure;
    display:inline-block;
    font-size: 0;
    margin-left: 268px;
}

.price-type-name a{
    display:inline-block;
    vertical-align: middle;
    font-size: 14px;
    line-height: 18px;
    text-decoration: none;
    text-transform: uppercase;
    margin-top: 6px;
    margin-right: 26px;
    color: #000000;
}

.price-type-name a:last-child{
    margin-right: 47px;
    color: #b2b2b2;
}

.price-type-name a:nth-child(2){
   color: #b2b2b2; 
}

.arrows{
    background-color: greenyellow;
    display:inline-block;
    vertical-align: middle;
    font-size: 0;
    width: 38px;
}

.arrows a{
    position: relative;
    display:inline-block;
    vertical-align: middle;
    font-size: 0;
}

.arrows a::before{
    content: '';
    position: absolute; /* Абсолютное позиционирование */
    left: 0px; bottom: -14px; /* Положение треугольника */
    border: 5px solid transparent; /* Прозрачные границы */
    border-top: 9px solid #000000; /* Добавляем треугольник */  
}

.arrows a::after{
    content: '';
    position: absolute; 
    left: 29px; 
    bottom: -8px; 
    border: 5px solid transparent;
    border-bottom: 9px solid #cccccc;
    color: #cccccc;    
}

.main-projects{
    background-color: mediumspringgreen;
    float: left;
    width: 75%; 
}

.separate{
    background-color: red;
    vertical-align: top;
    font-size: 0;
}

.separate a{
    display: inline-block;
    vertical-align: middle;
}

.projects{
    position: relative;
    font-size: 0;    
}

.project{
    align-content:
    position: absolute;
    display: inline-block;
    vertical-align: top;
    font-size: 16px;
    line-height: 18px;
    width: 360px;
    background: #eeeeee;
    box-sizing: border-box;
    padding 24px 23px ;
}

.pagination{
    font-size: 0;
}

.pagination a{
    display: inline-block;
    vertical-align: middle;
}



