body {
    font-size: 16px;
    line-height: 24px;
    color: #283136;
    font-weight: normal;
    font-family: Roboto;
}
    
.tagline-item1 {
    font-size: 55px;
    line-height: 55px;
    color: #000000;
    font-weight: bold;
}

h2 {
    font-size: 45px;
    line-height: 45px;
    color: #000000;
    font-weight: bold;
}

.slogan-header{
    
}

.main-header{
    margin-bottom: 85px;
}

.container{
    width: 1160px;
    margin: 0 20px;
    margin: 0 auto;
    background-color: aqua;
}

.clearfix::after{
    content:"";
    display: table;
    clear: both;
}

.logo{
    width: 160px;
    float: left;
    margin-right: 40px;
    margin-top: 50px;
    vertical-align: middle;
}

.main-navigation{
    width: 760px;
    float: left;
    margin-right: 40px;
    vertical-align: middle;
    margin-top: 50px;
    
}

.main-navigation li{
    display: inline;
}

.basket-block{
    width: 160px;
    float: right;
    margin-top: 50px;
    
    
}

.tagline-main{
    
    margin-bottom: 80px;
}

.tagline{
    width: 380px;
}

.service {
    margin-bottom: 160px;
}

.service-item{
    width: 33.333333%;
    padding-right: 100px;
    float: left;
    box-sizing: border-box
    
}

.websites{
    
}

.apps{
    
}

.presentation{
    
}

.studio{
    width: 66.666666%;
    float: left;
    
}

.achievements{
    width: 33.333333%;
    float: left;
    
}

.logo2{
    display: block;
}

.achievement-title{ 
   
}

.achievement-items{
    
}

.achievement-item{
    float: left;
    width: 33.33333%;
}

.block-studio-achievements{
    margin-bottom: 70px;
    
}


.projects{
    padding-top: 45px;
    padding-bottom: 45px;
    font-size: 0;
    

}

.project-index{
    width: 25%;
    display: inline-block;
    vertical-align: middle;
}

.map-address{
    background-image: url(../img/map.jpg);

}

.address{
    width: 319px;
    background-color: #fff;
    vertical-align: middle;
}

.main-footer{
    margin-top: 80px;
}

.footer-social{
    float: left;
    margin-right: 140px;
    font-size: 0;
    
}

.footer-text{
    float: left;
}

.social-btn{
    display: inline-block;
    vertical-align: middle;
}








h1{
    text-align: center;
    padding-bottom: 117px;
}

#from,
#before{
    width: 80px;
}

.filter{
    margin-bottom: 62px;
}


.layouts{
    clear: both;
    margin-bottom: 51px;
}

.layout{
float: left;
width: 200px
}

#adaptive,
#fix,
#rubber{
    float: left;
}



.features{
    clear: both;
}


#slider,
#advantage,
#news,
#gallery,
#basket{
    float: left;
}

.feature{
    float: left;
    width: 200px;
}




.filters{
    float: left;
    width: 25%;
    padding-bottom: 1390px;
    background-color: chocolate
}

label{
    display: block;
}

.main-projects{
    background-color: mediumspringgreen;
    float: left;
    width: 75%; 
}

.separate{
    background-color: red;
    vertical-align: top;
    font-size: 0;
}

.separate a{
    display: inline-block;
    vertical-align: middle;
}

.projects{
    font-size: 0;    
}

.project{
    display: inline-block;
    vertical-align: top;
    width: 360px;
    
}

.pagination{
    font-size: 0;
}

.pagination a{
    display: inline-block;
    vertical-align: middle;
}

.separate-item{
    background-color: azure;
    display:inline-block;
    vertical-align: middle;
}

.price-type-name{
    background-color: azure;
    display:inline-block;
    font-size: 0;
}

.price-type-name a{
    display:inline-block;
    vertical-align: middle;
}

.arrows{
    background-color: greenyellow;
    display:inline-block;
    vertical-align: middle;
    font-size: 0;
}

.arrows a{
    display:inline-block;
    vertical-align: middle;
}

